/* Only necessary pre 4.4 */
#Form_ItemEditForm_action_doDelete.align-right {
    position: absolute;
    right: 1.5385rem;
}

/* Add some spacing on the right */
.cms-content-header-utils {
    padding-right: 1.5385rem;
}

/* It makes more sense to have the icon on the right
You can also use it on your own classes with .btn-icon-end */
#action_doSaveAndNext:before,
.btn-icon-end:before {
    float: right;
    margin-right: 0;
    margin-left: 6px;
}

/* Align stuff in the toolbar */
.btn-toolbar .bb-align {
    display: inline-block;
    line-height: 32px;
    padding-left: 1.5385rem;
    padding-right: 1.5385rem;
}

/* Misc stuff - check if still necessary */
label.btn {
    margin-bottom: 0;
}
table .btn-link {
    padding: 0;
    margin: 0;
}

/* Fix actions display in CMSProfileController */
.CMSProfileController .btn-toolbar > * {
    order: 2;
}
.CMSProfileController .btn-toolbar > #action_save {
    order: 1;
    margin-right: 5px;
}

/* Progressive actions */
.progressive-action {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.progressive-action span {
    position: relative;
    z-index: 2;
}
.progressive-action .btn__progress {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #368b39;
    opacity: 0.5;
    z-index: 1;
}
#ActionMenus {
    margin-left: 10px;
}
